<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.mapper.DeptMapper">

    <!--方案二：字段名与实体类属性名不一致xml方式手动映射解决方案
                <id>为主键字段映射
                <result>为普通字段映射
    <resultMap id="deptResultMap" type="com.itheima.pojo.Dept">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <select id="findAll"  resultMap="deptResultMap">
        select * from dept
    </select>-->

    <!--方案三：起别名-->
    <!-- <select id="findAll" resultType="com.itheima.pojo.Dept">
         select id, name, create_time createTime, update_time updateTime from dept
     </select>-->

    <!--方案4：在application.yml开启驼峰命名映射自动转换-->
    <select id="findAll" resultType="Dept">
        select * from dept;
    </select>

    <delete id="deleteById">
        delete from dept where id=#{id}
    </delete>

    <insert id="insert" >
        insert into dept(name, create_time, update_time)
        values (#{name}, #{createTime}, #{updateTime})
    </insert>

    <select id="findById" resultType="Dept">
        select * from dept where id=#{id}
    </select>

    <update id="update">
        update dept set name=#{name},update_time=#{updateTime} where id=#{id}
    </update>

</mapper>
