<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hm.mapper.EmpExprMapper">

    <!--void insertBatch(List<EmpExpr> exprList);
        插入多条记录语法：insert into 表名 values (#{字段值1},#{字段值2},...),(#{字段值1},#{字段值2},...),...
        Mybatis动态SQL循环标签：<forEach>
           collection="exprList" 映射方法参数中集合的名称
           item="expr" 遍历集合中的每个元素对象名称
           separator="," 循环内容之间的分隔符
    -->
    <insert id="insertBatch">
        insert into emp_expr(emp_id,begin,end,company,job) values
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId},#{expr.begin},#{expr.end},#{expr.company},#{expr.job})
        </foreach>
    </insert>

    <delete id="deleteByIds">
        delete from emp_expr where
        <foreach collection="ids" item="id" separator="or">
            id=#{id}
        </foreach>
    </delete>



</mapper>